# Main alias for today
alias vim='emacs'

unamestr=`uname`
if [[ "$unamestr" == 'Linux' ]]; then
    alias ls="ls --color=auto"
    alias dir="dir --color=auto"

    alias grep="grep --color=auto"
    alias fgrep="fgrep --color=auto"
    alias egrep="egrep --color=auto"
elif [[ "$unamestr" == 'FreeBSD' || "$unamestr" == 'Darwin' ]]; then
        alias ls='ls -G'
fi

# Optional
    alias l="ls -CF"
    alias ll="l -Al"
    alias la="l -A"

    alias ...="cd ../.."
    alias ..="cd .."

    alias cl="clear"
    
    alias g="git"
    alias gdb="gdb -q"
    alias dmesg="dmesg -T"
    alias df="df -h"
# }

### Network {
    alias ping1="ping -c 4 google.com"
    #alias mac="${$(alias_for_user "root" "ifconfig | grep HWaddr")}"
# }

# Reload the shell
alias reload="exec $SHELL -l"

# Extended "gdb" aliases

# Quick-Edit
alias bashrc="vim ~/.bashrc"
alias vimrc="vim ~/.vimrc"

# Emacs
alias emacs="/usr/local/Cellar/emacs/25.1/bin/emacs"
