### General system's aliases {

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# `ls` and `cd` aliases
alias ll='ls -AFl'
alias la='ls -A'
alias l='ls -CF'
alias ...='cd ../..'
alias ..='cd ..'

# Extended (optional) aliases
alias cl='clear'

# }

### Network {

alias ping1='ping -c 4 google.com'
alias mac='ifconfig | grep HWaddr'

# }

# Reload the shell
alias reload='exec $SHELL -l'

# Extended 'gdb' aliases
alias gdb='gdb -q'

alias dmesg='dmesg -T'

# Quick-Edit
alias bashrc='vim ~/.bashrc'
alias vimrc='vim ~/.vimrc'

# Quick access to dev. environment 
alias Code='cd ~/Development/Code'

