[alias]
    cl          = clone --recursive
    a           = add
    cm          = commit -m
    ca          = commit --amend
    sh          = show
    br          = branch
    co          = checkout
    f           = fetch
    fa          = fetch --all
    p           = push
    pl          = pull
    df          = diff
    rb          = rebase
    patch       = !git --no-pager diff --no-color
#[reset]
    r           = reset
    rs          = reset --soft
    rh          = reset --hard
#[stash]
    s           = stash save
    sa          = stash apply
    sp          = stash pop
    sl          = stash list
    ss          = stash show
    sd          = stash drop
#[log]
    st          = status # --short
    lg          = log --abbrev-commit --left-right --name-only
    hist        = log --pretty=format:\"%h %ad (%ar) | %s%d [author: %an]\" --graph --date=short
    show-last   = show --pretty="format:" --name-only # `git describe --always`
    show-prev   = diff-tree --no-commit-id --name-only -r `git rev-parse --short HEAD`
    files-commited = log --graph --name-only --oneline
# Show git commands
    commands    = help -a
# Show current repo's name
    name        = !git remote -v | head -n1 | awk '{print $2}'



[user]
    name  = Nikita Khomitsevich
    email = hamsternik9@gmail.com

[credential]
    helper = cache --timeout=14400 

[core]
    editor = vim
    safecrlf = true
    autocrlf = false 	
    ignorecase = false
	whitespace = trailing-space,space-before-tab
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX

[status]
    submoduleSummary = true

[push]
    default = simple

[pull]
    ff = only

[rebase]
    autostash = true

[color]
    ui = true
[color "branch"]
    current	= yellow reverse
	local	= yellow
	remote	= blue
[color "diff"]
    old = red 
    new	= blue bold
	frag = magenta bold 
	meta = normal
	whitespace = red reverse
[color "status"]
    added = yellow
	changed = red 
	untracked = cyan 

###  Source Tree ###
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[apply]
	whitespace = fix
