[submodule ".zsh/zsh-git-prompt"]
	path = .zsh/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "fonts/fonts"]
    path = fonts/fonts
    url = https://github.com/powerline/fonts
