[user]
	name = hamsternik
	email = hamsternik9@gmail.com
[core]
	autocrlf = true
	editor = vim 
[color]
	ui = true
[alias]
	co = checkout
	cm = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
